<<<<<<< HEAD
.product-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.product-list__item {
    list-style: none;
    width: 32%;
}
=======
.product-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.product-list__item {
    list-style: none;
    width: 32%;
}
>>>>>>> cd4669b8141510027fe01c1b67ce1f368804ba21
