.product {
    margin: 0;
    overflow: auto;
    font-family: 'MedievalSharp', cursive;
}

.product__price {
    display: inline-block;
    line-height: 34px;
}

.product__button-wrap {
    float: right;
}
#img{
    height: 40%;
    width: 30%;
}
