.navbar{
    overflow: hidden;
    background-color: #A3BAC3;
    background-image: linear-gradient(#A3BAC3,#007090);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Medula One', cursive; 
    z-index: 2;   
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    background-color: #007090; 
    background-image: linear-gradient(#A3BAC3,#007090);      
  }
  .navbar a:hover {
    color: rgb(33, 31, 34);  
    }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
  }
  .active{
    position: absolute;
    right: 0%;
  }
  header{
    position: absolute;
    right: 43%;
    margin-top: 3px;
    font-family: 'MedievalSharp', cursive;
    font-size: 40px;
  }